<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>New Product</h2>
  <form action="/create" method="post">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <div class="form-group">
      <label for="category">Category:</label>
      <br>
      <select class="" name="category">
        <option value="6">Ninjas</option>
        <option value="2">Household</option>
        <option value="3">Gardening</option>
        <option value="4">Automotive</option>
        <option value="7">Misc</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name"  name="name" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="desc">Description:</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="float" class="form-control" id="price" name="price" placeholder="Enter $00.00">
    </div>

    <button type="submit" class="btn btn-default">Create</button>
  </form>
  <br>
  <a href="/products">Back</a>
</div>
<br>

</body>
</html>
