<form class="" action="/create" method="post">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <h1>Hello</h1>
  <input type="text" name="name" placeholder="Name">
  <input type="submit" name="submit" value="New">
</form>


<form class="" action="index.html" method="post">

</form>
